name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '23'
        cache: 'npm'
        
    - name: Install dependencies
      run: npm ci
      
    - name: Prisma Generate
      run: npx prisma generate
      
    - name: Lint
      run: npm run lint
      
    - name: Build
      run: npm run build
